.request-bar
  Message
.form
  = simple_form_for :message, url: proposal.create_message_url do |f|
    .row
      .col-md-9
        = f.input :body, as: :text, class: "form-control", label: false, input_html: { value: proposal.default_message }
      .col-md-3
        = f.button :submit, "Send"
