.request-bar
  Request
= simple_form_for :message, url: proposal_messages_url(proposal) do |f|
  .row
    .col-md-9
      = f.input :body, as: :text, :class => "form-control"
    .col-md-3
      = f.button :submit, "Request", :class => "btn btn-primary"
