.request-bar
  Message
.form
  = simple_form_for :message, url: offer_messages_url(offer) do |f|
    .row
      .col-md-9
        = f.input :body, as: :text, class: "form-control", label: false, input_html: {value: "I would like to accept this offer!"}
      .col-md-3
        = f.button :submit, "Send", class: "btn btn-primary"
