%form#browser_id_form{ action: "/auth/browser_id/callback" }
  %input{ type: "hidden", name: "assertion" }
  %a{ href: "#", class: "persona-button dark" }
    %span Sign in with your e-mail
= link_to "Sign in with Facebook", facebook_auth_path, class: "btn btn-primary facebook", role: "button"

%script{src: "https://login.persona.org/include.js", type: "text/javascript"}
:javascript
  function loginViaEmail() {
    navigator.id.get(function(assertion) {
      if (assertion) {
        $('input[name=assertion]').val(assertion);
        $('#browser_id_form').submit();
      } else {
        window.location = "\#{failure_path}"
      }
    });
  }

  $(function() {
    $('#browser_id_form a').click(function() {
      loginViaEmail();
      return false;
    });
  });
