#{@from_user.name} sent you the following message about your offer of #{link_to @offer.title, offer_url(@offer)}. When you reply to this e-mail, your response will be sent directly to #{@from_user.name}.
