%p Hi, #{@recipient.first_name},

%p You have previously used Mozilla Persona to log in to your Skillshare.im account. Mozilla Persona is being shut down soon, so you will need to use a password to log into your Skillshare.im account in the future.

%div <strong>Password:</strong> #{@password}
%div <strong>URL:</strong> #{sign_in_url}

%br

%div Thanks,
%div Patrick Brinich-Langlois
