!!!
%html
  %head
    %meta{charset: "utf-8", content: "text/html", "http-equiv" => "Content-Type"}
    %link{rel: "stylesheet", href: "email/proposal_email"}
  %body
    %p= markdown(@greeting)
    #box= markdown(@body)
