.row
  = render partial: "users/user", collection: [@user], :locals => { :show_create_link => true }

%table.table.proposals-table
  %thead
    %tr
      %th
      %th Offer
      %th Location
      %th Type
  %tbody
    - @proposals.each do |offer|
      - if !offer.nil?
        = render partial: "offers/offer", collection: [offer]
