= title @user.name

.row
  = render @user
  .col-md-8

    %table.table.proposals-table

      %tbody
        = render partial: "proposals/proposal", collection: @proposals

- content_for :head do
  %meta{ property: "og:title", content: @user.name }
  %meta{ property: "og:first_name", content: @user.first_name }
  %meta{ property: "og:last_name", content: @user.last_name }
  %meta{ property: "og:description", content: @user.about }
  %meta{ property: "og:url", content: request.original_url }
  %meta{ property: "og:type", content: "profile" }
  %meta{ property: "og:image", content: avatar_url(@user) }
