.categories
  .inner-area
    .category 
      = link_to "All", proposals_path
    - ApplicationHelper::CATEGORIES.each do |category|
      .category
        - tag = "#{category_tag(category)} #{category}"
        = link_to raw(tag), proposals_path(category: category)
