.categories
  .inner-area
    .category
      = link_to "All", offers_path
    - ApplicationHelper::CATEGORIES.each do |category|
      .category
        - tag = "#{category_tag(category)} #{category}"
        = link_to raw(tag), offers_path(category: category)
