<p>Skillshare.im is a place for a place
for <a href="http://80000hours.org/what-is-an-effective-altruist">effective
altruists</a> to share their skills, stuff, and even couches with one
another.</p>

<p>Since all effective altruists are working toward the same goal—making
the world a less crappy place—it makes sense for them to help each
other out. Also, helping others is a great way to connect with others
in the community. You might even meet your soulmate.</p>

<p>Skillshare.im was created by <a href="http://ozziegooen.com/">Ozzie
Gooen</a>, <a href="http://www.peterhurford.com/">Peter Hurford</a>,
and <a href="http://www.patrickbrinichlanglois.com/">Patrick
Brinich-Langlois</a>, who are interesting and compassionate people,
except for Patrick, who can be kind of a bitch sometimes.</p>
