%p
  Skillshare.im is a place for
  #{link_to("effective altruists", "https://www.effectivealtruism.org/")}
  effective altruists to share their skills, stuff, and even couches with one another.
%p
  Helping other help others—what could be more helpful? Not only will
  you improve the world; you'll connect with others in the community.
%p
  Check out the #{link_to("FAQ", faq_path)} to learn more.
%p
  Skillshare.im was tenderly hand-crafted with loving-kindness by
  #{link_to("Ozzie Gooen", "http://ozziegooen.com/")} and
  #{link_to("Patrick Brinich-Langlois", "http://www.patrickbrinichlanglois.com/")}.
