- unless current_user
  = link_to "Sign in with Facebook", signin_path, class: "btn btn-primary btn-lg", role: "button"

.landing

  %h1
    Provide & Recieve Free Goods and Services 

= render partial: "proposals/proposal", collection: Proposal.all

.container
  = map(:center => @center, markers: @markers)
