- unless current_user
  = link_to "Sign in with Facebook", signin_path, class: "btn btn-primary btn-lg", role: "button"

.landing

  .heading
    %h1
      Sharing Between Effective Altruists
    %h3
      Coffee - Lodging - Mentorship - Capital - Used Goods - Connections - Online Labor

= render partial: "proposals/proposal", collection: Proposal.all
