<h3>Privacy Notice</h3>
<p>This privacy notice discloses the privacy practices for Skillshare.im. This privacy notice applies solely to information collected by this website. It will notify you of the following:</p>

<ul>
  <li>What personally identifiable information is collected from you through the website, how it is used and with whom it may be shared.</li>
  <li>What choices are available to you regarding the use of your data.</li>
  <li>How you can correct any inaccuracies in the information.</li>
</ul>

<h4>Information Collection, Use, and Sharing</h4>
<p>We are the sole owners of the information collected on this site. We only have access to or collect information that you voluntarily give us via email or other direct contact from you. We will not sell or rent this information to anyone.</p>

<p>We will use your information to respond to you, regarding the reason you contacted us. We will not share your information with any third party outside of our organization.</p>

<h4>Your Access to and Control Over Information</h4>
<p>Unless you ask us not to, we may contact you via email in the future to tell you about specials, new products or services, or changes to this privacy policy. You may opt out of any future contacts from us at any time by clicking the unsubscribe URL at the bottom of the email. You can also delete your account at any time through your settings page.</p>

<p>If you feel that we are not abiding by this privacy policy, you should contact us immediately by email at <%= mail_to(ENV["SKILLSHARE_SUPPORT_EMAIL"]) %>.</p>
