- unless current_user
  = link_to "Sign in with Facebook", signin_path, class: "btn btn-primary btn-lg", role: "button"

.landing
  %h1
    Good People 
    Help Each Other

  %h3
    Provide & Recieve Goods and Services for Free
    .icons
      <i class="fa fa-gift"></i> <i class="fa fa-heart"></i> <i class="fa fa-globe"></i> 


= render partial: "proposals/proposal", collection: Proposal.all
%br

= render "shared/categories"
