- unless current_user
  = link_to "Sign in with Facebook", signin_path, class: "btn btn-primary btn-lg", role: "button"

.landing

  %h1
    Provide & Recieve Goods and Services for Free

  %h3
    Provide & Recieve Goods and Services for Free

= render partial: "proposals/proposal", collection: Proposal.all
%br

= render "shared/categories"
