%p Welcome to Sharing is Caring, a place for effective altruists to share their skills, stuff, and even couches with one another.

%p Dodge taxes, reduce transaction costs, and meet new people by participating in our exclusive gift economy.

%p Effective altruists only! Meanies, bleeding hearts, and the ill-informed will be mercilessly ignored.

- if current_user
  %h2= link_to "Create an offer!", new_user_proposal_path(current_user)
- else
  %h2= link_to "Sign in with Facebook to get started!", signin_path

= render "shared/proposals"
%br

= render "shared/categories"
