.landing
  - unless current_user
    .heading
      %h1
        Sharing Between Effective Altruists!
      %h3
        Coffee - Lodging - Mentorship - Capital - Used Goods - Connections - Online Labor

        .facebook-outer
          = link_to "Sign in with Facebook", signin_path, class: "btn btn-primary btn-lg facebook", role: "button"
= render "shared/categories"
- @offers.in_groups_of(3) do |offers|
  .row
    - offers.each do |offer|
      - if !offer.nil?
        = render partial: "proposals/proposal", collection: [offer]
