= render "shared/categories"

%table.table.proposals-table
  %thead
    %tr
      %th
      %th= @klass
      %th Location
      %th Type
  %tbody
    - @proposals.each do |proposal|
      - if proposal
        = render partial: "proposals/proposal", locals: { proposal: proposal }

= paginate @proposals, theme: 'twitter-bootstrap-3'
