%div#map

= content_for :footer do
  = javascript_tag do
    -# using a funky name 'cause it's a global variable
    markerData420 = #{raw @marker_data.to_json};
  = javascript_include_tag "map/render_map"
