<div id="map">

<% content_for :footer do %>
  <%= javascript_tag do %>
    var markerData = <%= raw @marker_data.to_json %>;
    var map = L.map('map').setView([33, -20], 2);
    L.tileLayer('http://{s}.tile.cloudmade.com/70ce02868fd24c55b1a6c905d1205651/997/256/{z}/{x}/{y}.png', {
        attribution: '© 2013 <a href="http://cloudmade.com/">CloudMade</a> – Map data <a href="http://www.openstreetmap.org/copyright">ODbL</a> 2013 <a href="http://www.openstreetmap.org/">OpenStreetMap.org</a> contributors – <a href="http://cloudmade.com/website-terms-conditions">Terms of Use</a>',
        maxZoom: 18
    }).addTo(map);
    
    var markers = new L.MarkerClusterGroup();
    var icon = L.icon({iconUrl: '<%= image_path("marker-icon.png") %>',
                       shadowUrl: '<%= image_path("marker-shadow.png") %>'
                      });
    for(var i = 0; i < markerData.length; i++) {
        var latlng = markerData[i].latlng;
        var popup = markerData[i].popup;
        var marker = new L.marker(latlng, {icon: icon}).bindPopup(popup);
        markers.addLayer(marker);
    }

    map.addLayer(markers);
  <% end %>
<% end %>
</div>
