!!!
%html
  %head
    %meta{charset: "utf-8", content: "text/html", "http-equiv" => "Content-Type"}/
    :css
      #box { border: 2px solid #99CCFF; padding: 5px; }
  %body
    %p Hi!
    %p= @message.subject
    #box= @message.body
