- unless current_user
  .landing
    .heading
      %h1
        Sharing Between Effective Altruists!
      %h3
        Coffee - Lodging - Mentorship - Capital - Used Goods - Connections - Online Labor

        .facebook-outer
          = link_to "Sign in with Facebook", facebook_auth_path, class: "btn btn-primary btn-lg facebook", role: "button"

= render "shared/categories"

%table.table.proposals-table
  %thead
    %tr
      %th
      %th Offer
      %th Location
      %th Type
  %tbody
    - @offers.each do |offer|
      - if offer
        = render partial: "offers/offer", collection: [offer]
