/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *= require twitter/bootstrap
 *= require_self
 *= require font-awesome
 *= require MarkerCluster
 *= require MarkerCluster.Default
 *= require_tree .
 */

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  //background-color: #eee;
  background-image: url("http://bowlabs.files.wordpress.com/2013/11/retina_wood.png");
  /*background-image: url(image_path("/backgrounds/retina_wood.png"))
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -50px;
  /* Pad bottom by footer height */
  padding: 0 0 50px;
}

