@import 'variables';

.header{
  margin-top:19px;
  margin-bottom:26px;

  a.active{
    color: #545454;
  }

  a, .btn{
    color: rgba(50,50,50,0.5);
    &:hover{
      text-decoration: none;
      color: rgba(50,50,50,0.8);
      -webkit-transition: color 100ms linear;
      -moz-transition: color 100ms linear;
      -o-transition: color 100ms linear;
      -ms-transition: color 100ms linear;
      transition: color 100ms linear;
    }
  }

  .logo{
    margin-top: 7px;
    a{
      font-size:40px;
      font-family: 'Oregano', cursive;
    }
  }

  .icons{
    text-align:center;
    font-size: 48px;
    color: rgba(0,0,0,0.3);
    margin:0 16px;
    .fa{
      margin: 0 10px;
    }

  }
  .right{
    float:right;
    .btn-default, .fa{
      box-shadow:none;
      font-size:37px;
      float:right;
      background: none;
      border:none;
      font-size:33px;
      color: rgba(0,0,0,0.4);
      &:hover{
        text-decoration: none;
        color: rgba(50,50,50,0.8);
        -webkit-transition: color 100ms linear;
        -moz-transition: color 100ms linear;
        -o-transition: color 100ms linear;
        -ms-transition: color 100ms linear;
        transition: color 100ms linear;
      }
      &:active{
        border:none;
        box-shadow:none;
        mox-box-shadow: none;
        background: none;
      }
    }
    .sign-in-btn{
      margin-top:16px;
      color: white;
    }

    .btn-group.open .dropdown-toggle{
      background:none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

#footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 55px;
  width: 100%;
  .navbar{
    background: rgba(250,250,250,0.3);
    margin-bottom: 0;
    border:none;
    a{
      color: #333;
    }
    .icon a{
      font-size:22px;
    }
    .social {
      margin-top:17px;
      margin-left:21px;
    }
  }
  .navbar-default{
    background-color:none;
    border:none;
  }
}

#dialog{
  display: none;
}

.landing{
  .heading{
    margin-bottom: 20px;
    h1{
      font-size:60px;
      text-align:center;
      font-family: 'Oregano', cursive;
      margin-top: 33px;
    }
    h2{
      color: rgba(0, 0, 0, 0.5);
      font-size:27px;
      a{
        color: rgba(0, 0, 0, 0.5);
      }
    }
    h3{
      margin-bottom:30px;
      margin-top:30px;
    }
    .icons{
      opacity:0.5;
      margin:25px;
      font-size: 64px;
      .fa{
        margin: 0 16px;
      }
    }
    h3{

      text-align:center;
      margin-top:10px;
      color: rgba(0,0,0,0.3);
    }
  }
}

html{
  body{
    h2{
      color: rgba(0, 0, 0, 0.5);
      font-size:27px;
      a{
        color: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

/* Sticky footer styles
-------------------------------------------------- */

html{
  position:relative;
  min-height:100%;
}
body {
  margin-bottom: 55px;
  background-image: image-url("backgrounds/retina_wood.png");
}

.top-banner {
  background-color: $light-blue;
  height: 100px;
  width: 100%;
}

.top-banner-clickable {
  display: block;
  width: 100%;
  height: 100px;
  line-height: 100px;
  text-decoration: none;
  font-size: 2vw;
  text-align: center;
  color: white;
  &:hover {
    text-decoration: none;
    color: white;
  }
}
