.header{
  margin-top:19px;
  margin-bottom:26px;
  a, .btn{
    color: rgba(50,50,50,0.5);
    &:hover{
      text-decoration: none;
      color: rgba(50,50,50,0.8);
      -webkit-transition: color 100ms linear;
      -moz-transition: color 100ms linear;
      -o-transition: color 100ms linear;
      -ms-transition: color 100ms linear;
      transition: color 100ms linear;
    }
  }

  .logo{
    margin-top: 7px;
    a{
      font-size:40px;
      font-family: 'Oregano', cursive;
    }
  }

  .icons{
    text-align:center;
    font-size: 48px;
    color: rgba(0,0,0,0.3);
    margin:0 16px;
    .fa{
      margin: 0 10px;
    }
  }
  .right{
    float:right;
    .btn-default, .fa{
      font-size:37px;
      float:right;
      background: none;
      border:none;
      font-size:33px;
      color: rgba(0,0,0,0.4);
      &:hover{
        text-decoration: none;
        color: rgba(50,50,50,0.8);
        -webkit-transition: color 100ms linear;
        -moz-transition: color 100ms linear;
        -o-transition: color 100ms linear;
        -ms-transition: color 100ms linear;
        transition: color 100ms linear;
      }
      &:active{
        border:none;
        box-shadow:none;
        mox-box-shadow: none;
        background: none;
      }
    }
    .fa-plus{
      margin: 7px 5px;
    }
    .facebook{
      margin-top:16px;
      color: white;
    }

    .btn-group.open .dropdown-toggle{
      background:none;
      box-shadow: none;
      -webkit-box-shadow: none;
    }
  }
}

#footer{
  height: 50px;
  .navbar{
    background: rgba(250,250,250,0.3);
    border:none;
    a{
      color: #333;
    }
    .icon a{
      font-size:26px;
    }
  }
  .navbar-default{
    background-color:none;
    border:none;
  }
}
