.proposal{
  background: rgba(250,250,250,0.6);
  &:hover{
    background-color: #f6f6f6;
    -webkit-transition: background-color 50ms linear;
     -moz-transition: background-color 50ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
  }
  .btn{
    float:right;
    font-size:12px;
    padding: 2px 7px;
    a{
      color: white;
      &:hover{
        text-decoration:none;
      }
    }
  }
  .main{
    padding: 6px 7px 0px 8px;
  }
  h3 {
    font-size:1.1em;
    margin-top:3px;
    margin-bottom:3px;
    color: darkred;
    a{
      color: darkred;
    }
  }
  p{
    color: #666;
    font-size:1em;
    margin-bottom:9px;
  }
  .info{
    color: #aaa;
    font-size:0.8em;
    a{
      color: #aaa;
    }
    .fa{
      color: #888;
    }
    .category{
      float:left;
    }
    .location{
      margin-right:21px;
      float:left;
    }
    .user{
      float:left;
      font-size:1em;
      a{
        color: #888;
      }
      img{
        width:19px;
        border-radius:3px;
        margin-right:7px;
      }
    }
  }
  .request{
    float:left;
    width:100%;
    background: #eee; 
    .request-bar{
      color: #555;
      padding: 12px 12px 0px;
      font-weight: bold;
    }
    .form{
      padding:11px;
    }
  }
      
}

.proposals-table{
  background: rgba(250,250,250,0.3);
}
