.proposal{
  &:hover{
    background-color: #f6f6f6;
    -webkit-transition: background-color 50ms linear;
    -moz-transition: background-color 50ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
  }
  .btn{
    float:right;
    font-size:12px;
    padding: 2px 7px;
    a{
      color: white;
      &:hover{
        text-decoration:none;
      }
    }
  }
  .main{
    padding: 6px 7px 0px 8px;
  }
  h3 {
    font-size:1.1em;
    margin-top:3px;
    margin-bottom:3px;
    color: darkred;
    a{
      color: darkred;
    }
  }
  p{
    color: #666;
    font-size:1em;
    margin-bottom:9px;
  }
  .user{
    float:left;
    font-size:1em;
    margin: 4px 0 0 5px;
    a{
      color: #888;
    }
    img{
      max-width: 73px;
      border-radius:3px;
      max-height: 300px;
    }
  }
  .info{
    color: #aaa;
    font-size:0.8em;
    a{
      color: #aaa;
    }
    .fa{
      color: #888;
    }
    .name{
      float:left;
      margin-right: 21px;
    }
    .category{
      float:left;
      margin-right:21px;
    }
    .location{
      margin-right:21px;
      float:left;
    }
    .date{
      float:left;
    }

  }
  .request{
    float:left;
    width:100%;
    background: #eee;
    .request-bar{
      color: #555;
      padding: 12px 12px 0px;
      font-weight: bold;
    }
    .form{
      padding:11px;
    }
  }

}
.categories{
  color: rgba(30,30,30,0.7);
  margin-bottom:10px;
  .category{
    float:left;
    width:100%;
  a{ color: rgba(30,30,30,0.7);
    float:left;
    padding: 3px 5px;
    border-radius: 3px;
    margin:3px;
    font-size:1.3em;
    &:hover{
      background: rgba(0,0,0,0.1);
      text-decoration:none;
    }

  }
}
}

.proposals-table-outer{
  h2{
    text-align:center;
  }
  h2 a{
    color: rgba(0,0,0,0.5);
    font-size:27px;
  }
  h2:last-child{
    margin-bottom:35px;
  }
}
.proposals-table{
  background: rgba(250,250,250,0.5);
  border-radius:5px;
  .proposal{
    td{
      border-top:1px solid rgba(200,200,200,0.1)
    }
  }
  tr:first-child{
    td{
      border:none
    }
  }


}

.mini-table.left{
  float: left;
}

.mini-table.right{
  float: right;
}

.mini-table{
  width: 48%;

  tr td.more {
    text-align: center;
    color: red;
    a{
      font-weight: bolder;
    }
  }
}

.nothing-here{
  text-align: center;
  font-weight: bold;
  color: #428bca;
  font-size: 18px;
}
