.home{
  .landing{
    margin-bottom:80px;
    .heading{
      .home-categories-outer{
        float:left;
        width:100%;
        .home-categories{
          margin:auto;
          width:90%;
          .category{
            float:left;
            font-size:1.6em;
            margin:0 12px;
            a{
              color: rgba(0, 0, 0, 0.3);
            }
          }
        }
      }
    }
  }
}
