.proposal{
  margin-bottom:14px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  border-radius:3px;
  float:left;
  width:100%;
  &:hover{
    background-color: #f6f6f6;
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
  }
  .btn{
    float:right;
    font-size:12px;
    padding: 2px 7px;
    a{
      color: white;
      &:hover{
        text-decoration:none;
      }
    }
  }
  .main{
    padding: 6px 7px 0px 8px;
  }
  h3 {
    font-size:1.1em;
    margin-top:3px;
    margin-bottom:3px;
    color: darkred;
    a{
      color: darkred;
    }
  }
  p{
    color: #666;
    font-size:1em;
    margin-bottom:9px;
  }
  .info{
    color: #aaa;
    padding:5px 9px 4px;
    border-top: 1px solid #ddd;
    font-size:0.8em;
    float:left;
    width:100%;
    .left{
      float:left;
    }
    .right{
      float:right;
    }
    a{
      color: #aaa;
    }
    .fa{
      color: #888;
    }
    .category{
      float:left;
      margin-left:21px;
    }
    .location{
      margin-left:21px;
      float:left;
    }
    .user{
      float:left;
      font-size:1em;
      a{
        color: #888;
      }
      img{
        width:19px;
        border-radius:3px;
        margin-right:7px;
      }
    }
  }
  .request{
    float:left;
    width:100%;
    background: #eee; 
    .request-bar{
      color: #555;
      padding: 12px 12px 0px;
      font-weight: bold;
    }
    .form{
      padding:11px;
    }
  }
      
}

