.proposal{
  margin-bottom:20px;
  background: white;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius:2px;
  float:left;
  width:100%;
  &:hover{
    background: #f6f6f6;
    -webkit-transition: background-color 100ms linear;
     -moz-transition: background-color 100ms linear;
     -o-transition: background-color 100ms linear;
     -ms-transition: background-color 100ms linear;
     transition: background-color 100ms linear;
  }
  .btn{
    float:right;
    font-size:12px;
    padding: 2px 7px;
  }
  .main{
    padding:9px 12px 7px 12px;
  }
  h3 {
    font-size:16px;
    margin-top:3px;
    margin-bottom:11px;
    a{
      color: darkred;
    }
  }
  p{
    color: #666;
    font-size:14px;
    margin-bottom:9px;
  }
  .info{
    color: #aaa;
    padding:11px;
    border-top: 1px solid #ddd;
    min-height:30px;
    font-size:11px;
    float:left;
    width:100%;
    .left{
      float:left;
    }
    .right{
      float:right;
      margin-top:5px;
    }
    a{
      color: #aaa;
    }
    .fa{
      color: #888;
    }
    .category{
      float:left;
      margin-left:21px;
    }
    .location{
      margin-left:21px;
      float:left;
    }
    .user{
      float:left;
      font-size:14px;
      a{
        color: #888;
      }
      img{
        width:26px;
        border-radius:3px;
        margin-right:7px;
      }
    }
  }
}

