// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-card{
  margin-bottom:20px;
  background-image: image_url("http://bowlabs.files.wordpress.com/2013/11/gplaypattern-80.png");
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  border-radius:3px;
  float:left;
  width:100%;
  &:hover{
    background-color: #f6f6f6;
    -webkit-transition: background-color 100ms linear;
    -moz-transition: background-color 100ms linear;
    -o-transition: background-color 100ms linear;
    -ms-transition: background-color 100ms linear;
    transition: background-color 100ms linear;
  }
  .picture{
    float:left;
    max-height:120px;
    overflow: hidden;
    width:120px;
    img{
      width: 118px;
      border-radius:3px
    }
  }
  .btn{
    float:right;
    font-size:12px;
    padding: 2px 7px;
    min-width: 27px;
    a{
      color: white;
      &:hover{
        text-decoration:none;
      }
    }
  }
  .main{
    float:left;
    width:100%;
    padding:6px;
    .right{
      padding-left: 20px;
      .offer-count{
        font-family: 'Oregano', cursive;
        margin-bottom: 10px;
        font-size:18px;
        a{
          color: #555;
          &:hover{
            text-decoration:none;
            color: #000;
          }
        }
      }
      .location{
        color: #999;
        margin-bottom:3px;
      }
      .facebook{
        float:left;
      }
      .mail{
        float:left;
        margin-right:10px;
      }
    }
  }
  h3 {
    font-family: 'Oregano', cursive;
    font-size:26px;
    margin-top:4px;
    margin-bottom:1px;
    color: darkred;
    a{
      color: darkred;
    }
  }

  .right{
    float:left;
    padding-left:10px;
  }

  .info{
    color: #666;
    padding:6px;
    border-top: 1px solid #ddd;
    min-height:30px;
    float:left;
    width:100%;
    .left{
      float:left;
    }
    .right{
      float:right;
      margin-top:5px;
    }
    a{
      color: #aaa;
    }
    .fa{
      color: #888;
    }
    .category{
      float:left;
      margin-left:21px;
    }
    .location{
      margin-left:21px;
      float:left;
    }

  }
}

.proposal.new{
  font-size:30px;
}
